{% extends "base.html" %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'login.css' %}" >
<script>
    function togglePasswordVisibility(inputId, toggleId) {
        const passwordInput = document.getElementById(inputId);
        const toggleIcon = document.getElementById(toggleId);
        
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.innerHTML = "👁️";
        } else {
            passwordInput.type = "password";
            toggleIcon.innerHTML = "👁️‍🗨️";
        }
    }
</script>
<main>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
            <h2>Inicio de Sesión</h2>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Ingresar</button>
            <p><a href="{% url 'restablecer' %}">Olvido su contraseña</a></p>
            <p>¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
        </div>
    </form>
</main>
{% endblock %}

    





 