{% extends 'base.html' %}
{% load static %}

{% block titulo %}Perfil de Usuario{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'profile.css' %}">

<div class="profile-container">
    <h2>Usuario</h2>
    <div class="profile-card">
        <img src="{% static 'img/perfil.jpg' %}" 
             alt="Foto de perfil" class="profile-photo">

        <ul>
            <li><strong>Nombre:</strong> {{ user.username }}</li>
            <li><strong>Email:</strong> {{ user.email }}</li>
            <li><strong>Fecha de Registro:</strong> {{ user.date_joined|date:"d/m/Y" }}</li>
        </ul>
    </div>
</div>

{% endblock %}
